body {
  margin: 0;
  background-color: #D5EEFF;
}
/* header */
.header {
  width: 100%;
  height: 80px;
  background-color: #1B435D;
}

.title {
  color: #F99F48;
  text-align: center;
  line-height: 80px;
  margin: 0 auto;
}

/* main */
.main {
 /* background-color: aquamarine; */
 width: 800px;
 margin: 0 auto;
}

.text_area {
  /* background-color: red; */
  width: 400px;
  height: 50px;
  margin: 40px auto;
  text-align: center;
  vertical-align: middle;
}
.text {
  width: 200px;
}

.button {
  text-align: center;
}

.btn {
	text-align: center;
	text-decoration: none;
	width: 120px;
	margin: auto;
	padding: 1rem 4rem;
	font-weight: bold;
	border: 2px solid #27acd9;
	color: #27acd9;
	transition: 0.5s;
}

.btn:hover{
  color: #fff;
	background: #27acd9;
}

.result {
  /* background-color: white; */
  width: 400px;
  height: 200px;
  margin: 40px auto;
  text-align: center;
  vertical-align: middle;
  border: 1px solid;
  background-color: white;
}

.val {
  padding-top: 90px;
}